<% layout("/layouts/boilerPlate") -%>
<div class="row mt-3">
        <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-12">
    <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        
    <h3>Create a new list</h3>
        <div class="mb-3"> <!--  in this case, mb-3 adds a margin-bottom of 1rem (16px) to the element it’s applied to. It’s a handy way to quickly add spacing in your web layouts.  -->
           <label for="title" class="form-label">Title</label>
            <input placeholder="Add a catchy title" type="text" name="listing[title]" class="form-control" required>
            <div class="valid-feedback">
                Looks good!
              </div>
        </div>
       
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control" required></textarea>
            <div class="invalid-feedback">
               Please write a short description
              </div>
        </div>
        
          <!-- <div class="mb-3">
            <label for="image" class="form-label">Image Link</label>
            <input placeholder="enter image URL/Link" name="listing[image]" class="form-control">
           
          </div> -->
          <div class="mb-3">
            <label for="image" class="form-label">Upload Listing Image</label>
            <input  name="listing[image]" class="form-control" type="file" required>
            
          </div>
          <div class="row">
           <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input placeholder="1500" name="listing[price]" type="number" class="form-control" required>
            <div class="invalid-feedback">
                Price should be valid
              </div>
           </div>
      
        <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
        <input placeholder="India" type="text" name="listing[country]" class="form-control" required>
        <div class="invalid-feedback">
            Country should be valid
          </div>
        </div>
         </div>
       <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input placeholder="Jaipur,Rajasthan" type="text" name="listing[location]" class="form-control" required>
        <div class="invalid-feedback">
            Location should be valid
          </div>
       </div>
       <div class="mb-3">
        <label for="category" class="form-label">Category</label>
        <input placeholder="arctic/mountain/castle/farms/camping/Amazing pool/iconic cities/swimming/beachfront/country side" type="text" name="listing[category]" class="form-control" required>
        <div class="invalid-feedback">
            Location should be valid
          </div>
       </div>
      
        <button class="btn btn-dark add-btn">Add</button>
        <br><br>
    </form>
</div>
</div>

